/*by Stanislav Kozacheko - https://github.com/StanislavKozachenko/*/
* {
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
#My_Name {
	display: flex;
	justify-content: center;
	padding-top: 5%;
	color: #fff;
	font-weight: bold;
	font-size: 30px;
}
#First_Section {
	height: 100vh;
	background-color: #55efc4;
}
.Wrapper {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 40vh;
	width: 40vh;
}
.Buttons {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
}
.Buttons button {
	border: none;
	background-color: #fff;
	padding: 20px;
	margin: 5px;
	font-size: 14px;
	box-shadow: 0px 0px 3px 1px #000000;
	transition: 0.2s;
}
.Buttons button:hover {
	transition: 0.2s;
	background-color: #a29bfe;
	cursor: pointer;
	color: #fff;
	font-weight: bold;
}
#Input {
	width: calc(95% - 10px);
	border: none;
	height: 40px;
	padding-right: 5%;
	margin: 5px;
	background-color: #fff;
	text-align: right;
	color: black;
	padding-top: 5%;
	font-size: 20px;
	overflow: hidden;
	box-shadow: 0px 0px 3px 1px #000000;
	font-family: Lato;
}
#Ravn {
	grid-column-start: 4;
	grid-row-start: 1/5;
	grid-row: 4;
	grid-column: 4/5;
	grid-row: 4/6;
}
#Null {
	grid-column: 1/3;
}
